@page
@model WebApplication3.Pages.IndexModel
@{
}
@foreach (var m in Model.BoardList)
{
    <p>11111122222233333@m.No  / @m.Title  / @m.Content [<a asp-page="View" asp-route-BoardNo="@m.No">보기</a>]</p>
}
<p><a asp-page="Create">등록</a></p>